{% extends "default_layout.html" %}
{% block body %}
<h3>Send message to a user or group</h3>
<p>Make sure you have the correct user id, deleting messages is <b>not</b> yet implemented.</p>
<hr>
<form action="{{ url_for('root.send_message') }}" method="post">
    <p>bot_id: <input type="text" size="30" name="bot_id">
    <p>chat_id: <input type="text" size="30" name="chat_id">
    <p>text: <textarea name="text" rows="5" cols="40"></textarea>
    <p><input type="submit" value="Send">
    </dl>
</form>
<hr>
{% if message %}
<h3>Last message:</h3>
<pre>{{ message }}</pre>
<hr>
{% endif %}
<p>&nbsp;</p>
{% endblock %}

