{% extends "default_layout.html" %}
{% block body %}
<h3>List messages from group</h3>
<p>Select bot and group from lists</p>
<hr>
<form action="" method="post">
<!--
    <p>bot_id: <input type="text" size="30" name="bot_id">
    <p>chat_id: <input type="text" size="30" name="chat_id">
    <p>text: <textarea name="text" rows="5" cols="40"></textarea>
    <p><input type="submit" value="Send">
-->
    {{ form.bot_id_field.label }}<br>
    {% for subfield in form.bot_id_field %}
        <div class="form-check">
        {{ subfield(class="form-check-input") }} {{ subfield.label(class="form-check-label") }}
        </div>
    {% endfor %}
    {% for error in form.bot_id_field.errors %}
        <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
    {% if chats %}
    <p>
    {{ form.chat_id_field.label }}<br>
    {% for subfield in form.chat_id_field %}
        <div class="form-check">
        {{ subfield(class="form-check-input") }} {{ subfield.label(class="form-check-label") }}
        </div>
    {% endfor %}
    {% for error in form.chat_id_field.errors %}
        <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
    </p>
    {% endif %}
    <p>{{ form.limit_field.label }}<br>{{ form.limit_field }}</p>
    <p>{{ form.offset_field.label }}<br>{{ form.offset_field }}</p>
    <p>{{ form.submit(class="btn btn-warning") }}</p>
    </dl>
</form>
<hr>
{% if messages %}
<h4>bot {{ form.bot_id_field.data }}</h4>
<h4>chat {{ form.chat_id_field.data }}</h4>
<h4>limit {{ form.limit_field.data }}</h4>
<h4>offset {{ form.offset_field.data }}</h4>
<h3>Last {{ count['current'] }} messages of {{ count['total'] }}:</h3>
<ul>
{% for message in messages %}
<li><pre>{{ message }}</pre></li>
{% endfor %}
</ul>
<hr>
{% else %}
<p>No messages&excl;</p>
{% endif %}
<p>&nbsp;</p>
{% endblock %}
