{% extends "admin/default_layout.html" %}
{% block body %}
<h1>{{ title }}</h1>
<h2>Admin</h2>
<div class="btn-group-vertical" role="group" aria-label="buttons">
    <a class="btn btn-success btn-lg" href="{{ url_for('admin.updates') }}" role="button">List Messages &gt;&gt;</a>
    <a class="btn btn-danger btn-lg" href="{{ url_for('admin.files') }}" role="button">List Files &gt;&gt;</a>
    <a class="btn btn-primary btn-lg" href="{{ url_for('admin.send_message') }}" role="button">Send Message &gt;&gt;</a>
    <a class="btn btn-secondary btn-lg" href="{{ url_for('root.show', page='index') }}" role="button">Croak</a>
</div>
<p>&nbsp;</p>
{% endblock %}
