{% extends "admin/default_layout.html" %}
{% block body %}
<h3>List messages from group</h3>
<p>Select bot and group from lists</p>
<p><div class="alert alert-warning" role="alert">
This is an unoptimized feature which will slow down the thread, use it 
if it's really necessary. If this warning disappears, it's because it 
was fixed.
</div></p>
<hr>
<form action="" method="post">
    {{ form.bot_id_field.label }}<br>
    {% for subfield in form.bot_id_field %}
        <div class="form-check">
        {{ subfield(class="form-check-input") }} {{ subfield.label(class="form-check-label") }}
        </div>
    {% endfor %}
    {% for error in form.bot_id_field.errors %}
        <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
    {% if chats %}
        <p>
        {{ form.chat_id_field.label }}<br>
        {% for subfield in form.chat_id_field %}
            <div class="form-check">
            {{ subfield(class="form-check-input") }} {{ subfield.label(class="form-check-label") }}
            </div>
        {% endfor %}
        {% for error in form.chat_id_field.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        </p>
        <p>{{ form.limit_field.label }}<br>{{ form.limit_field }}</p>
        <p>{{ form.offset_field.label }}<br>{{ form.offset_field }}</p>
    {% endif %}
    <p>{{ form.submit(class="btn btn-warning") }}</p>
</form>
<hr>
{% if count['current'] > 1 %}
<h4>bot {{ form.bot_id_field.data }}</h4>
<h4>chat {{ form.chat_id_field.data }}</h4>
<h4>limit {{ form.limit_field.data }}</h4>
<h4>offset {{ form.offset_field.data }}</h4>
<h3>Last {{ count['current'] }} messages out of {{ count['total'] }}:</h3>
<hr>
<div class="container">
<div class="row">
{% for message in messages %}
<div class="col">
<div class="card bg-warning text-dark mb-3 shadow-sm">
<div class="card-header">{{ message['message_id'] }}</div>
<div class="card-body">
<table class="table table-striped">
<tbody>
{% for item in message.items() %}
    {% if item[0] in [
        'chat',
        'from',
        'reply_to_message',
    ] %}
        <tr>
        <td>
        <div class="container">
        <div class="row">
        <div class="col">
        <div class="card bg-info text-dark mb-3 shadow-sm">
        <div class="card-header">{{ item[0] }}</div>
        <div class="card-body">
        <table class="table table-striped">
        <tbody>
        {% for subitem in item[1].items() %}
            {% if subitem[0] in ['chat', 'from'] %}
                <tr>
                <td>
                <div class="container">
                <div class="row">
                <div class="col">
                <div class="card bg-success text-dark mb-3 shadow-sm">
                <div class="card-header">{{ subitem[0] }}</div>
                <div class="card-body">
                <table class="table table-striped">
                <tbody>
                {% for subsubitem in subitem[1].items() %}
                    <tr>
                        <td>{{ subsubitem[0] }}</td>
                        <td><span class="badge bg-dark text-light text-wrap text-break">{{ subsubitem[1] }}</span></td>
                    </tr>
                {% endfor %}
                </tbody>
                </table>
                </div> <!-- card-body -->
                </div> <!-- card -->
                </div> <!-- col -->
                </div> <!-- row -->
                </div> <!-- container -->
                </td>
                </tr>
            {% elif subitem[0] in [
                'caption_entities',
                'entities',
                'new_chat_members',
                'photo',
            ] %}
                <tr>
                <td>
                <div class="container">
                <div class="row">
                <div class="col">
                <div class="card bg-success text-dark mb-3 shadow-sm">
                <div class="card-header">{{ subitem[0] }}</div>
                <div class="card-body">
                <table class="table table-striped">
                <tbody>
                {% for subsubitem in subitem[1] %}
                    {% for subsubsubitem in subsubitem.items() %}
                        <tr>
                        <td>{{ subsubsubitem[0] }}</td>
                        <td><span class="badge bg-dark text-light text-wrap text-break">{{ subsubsubitem[1] }}</span></td>
                        </tr>
                    {% endfor %}
                {% endfor %}
                </tbody>
                </table>
                </div> <!-- card-body -->
                </div> <!-- card -->
                </div> <!-- col -->
                </div> <!-- row -->
                </div> <!-- container -->
                </td>
                </tr>
            {% elif subitem[0] in ['forward_from'] %}
                <tr>
                <td>
                <div class="container">
                <div class="row">
                <div class="col">
                <div class="card bg-success text-dark mb-3 shadow-sm">
                <div class="card-header">{{ subitem[0] }}</div>
                <div class="card-body">
                <table class="table table-striped">
                <tbody>
                {% for subsubitem in subitem[1].items() %}
                    <tr>
                        <td>{{ subsubitem[0] }}</td>
                        <td><span class="badge bg-dark text-light text-wrap text-break">{{ subsubitem[1] }}</span></td>
                    </tr>
                {% endfor %}
                </tbody>
                </table>
                </div> <!-- card-body -->
                </div> <!-- card -->
                </div> <!-- col -->
                </div> <!-- row -->
                </div> <!-- container -->
                </td>
                </tr>
            {% else %}
                <tr>
                    <td>{{ subitem[0] }}</td>
                    <td><span class="badge bg-dark text-light text-wrap text-break">{{ subitem[1] }}</span></td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
        </table>
        </div> <!-- card-body -->
        </div> <!-- card -->
        </div> <!-- col -->
        </div> <!-- row -->
        </div> <!-- container -->
        </td>
        </tr>
    {% elif item[0] in [
        'caption_entities',
        'entities',
        'new_chat_members',
        'photo',
    ] %}
        <tr>
        <td>
        <div class="container">
        <div class="row">
        <div class="col">
        <div class="card bg-info text-dark mb-3 shadow-sm">
        <div class="card-header">{{ item[0] }}</div>
        <div class="card-body">
        <table class="table table-striped">
        <tbody>
        {% for subitem in item[1] %}
            {% for subsubitem in subitem.items() %}
                <tr>
                <td>{{ subsubitem[0] }}</td>
                <td><span class="badge bg-dark text-light text-wrap text-break">{{ subsubitem[1] }}</span></td>
                </tr>
            {% endfor %}
        {% endfor %}
        </tbody>
        </table>
        </div> <!-- card-body -->
        </div> <!-- card -->
        </div> <!-- col -->
        </div> <!-- row -->
        </div> <!-- container -->
        </td>
        </tr>
    {% elif item[0] in [
        'forward_from',
        'forward_from_chat',
        'iacecil',
        'left_chat_member',
        'left_chat_participant',
        'new_chat_member',
        'new_chat_participant',
        'reply_markup',
        'sender_chat',
        'via_bot',
        'voice',
    ] %}
        <tr>
        <td>
        <div class="container">
        <div class="row">
        <div class="col">
        <div class="card bg-info text-dark mb-3 shadow-sm">
        <div class="card-header">{{ item[0] }}</div>
        <div class="card-body">
        <table class="table table-striped">
        <tbody>
        {% for subitem in item[1].items() %}
            {% if subitem[0] in ['inline_keyboard'] %}
                <tr>
                <td>
                <div class="container">
                <div class="row">
                <div class="col">
                <div class="card bg-success text-dark mb-3 shadow-sm">
                <div class="card-header">{{ subitem[0] }}</div>
                <div class="card-body">
                <table class="table table-striped">
                <tbody>
                {% for subsubitem in subitem[1] %}
                    {% for subsubsubitem in subsubitem %}
                        {% for subsubsubsubitem in subsubsubitem.items() %}
                            <tr>
                                <td>{{ subsubsubsubitem[0] }}</td>
                                <td><span class="badge bg-dark text-light text-wrap text-break">{{ subsubsubsubitem[1] }}</span></td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
                </tbody>
                </table>
                </div> <!-- card-body -->
                </div> <!-- card -->
                </div> <!-- col -->
                </div> <!-- row -->
                </div> <!-- container -->
                </td>
                </tr>
            {% elif subitem[0] in ['thumb'] %}
                <tr>
                <td>
                <div class="container">
                <div class="row">
                <div class="col">
                <div class="card bg-success text-dark mb-3 shadow-sm">
                <div class="card-header">{{ subitem[0] }}</div>
                <div class="card-body">
                <table class="table table-striped">
                <tbody>
                {% for subsubitem in subitem[1] %}
                    <tr>
                        <td>{{ subsubitem[0] }}</td>
                        <td><span class="badge bg-dark text-light text-wrap text-break">{{ subsubitem[1] }}</span></td>
                    </tr>
                {% endfor %}
                </tbody>
                </table>
                </div> <!-- card-body -->
                </div> <!-- card -->
                </div> <!-- col -->
                </div> <!-- row -->
                </div> <!-- container -->
                </td>
                </tr>
            {% else %}
                <tr>
                    <td>{{ subitem[0] }}</td>
                    <td><span class="badge bg-dark text-light text-wrap text-break">{{ subitem[1] }}</span></td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
        </table>
        </div> <!-- card-body -->
        </div> <!-- card -->
        </div> <!-- col -->
        </div> <!-- row -->
        </div> <!-- container -->
        </td>
        </tr>
    {% else %}
        <tr>
        <td>{{ item[0] }}</td>
        <td><span class="badge bg-dark text-light text-wrap text-break">{{ item[1] }}</span></td>
        </tr>
    {% endif %}

{% endfor %}
</tbody>
</table>
</div> <!-- card-body -->
</div> <!-- card -->
</div> <!-- col -->
{% endfor %}
</div> <!-- row -->
</div> <!-- container -->
{% else %}
<p>No messages&excl;</p>
{% endif %}
<p>&nbsp;</p>
{% endblock %}
