{% extends "admin/default_layout.html" %}
{% block body %}
<h1>Information about long polling for {{ name }}</h1>
<div class="container">
<div class="row">
{% for user in users %}
<div class="col">
<div class="card bg-info text-dark mb-3 shadow-sm">
<div class="card-header">{{ user['info'].first_name }}</div>
<div class="card-body">
<table class="table table-striped">
<tbody>
    <tr>
        <td>id</td>
        <td><span
            class="badge rounded-pill bg-dark text-light"
        >{{ user['info'].id }}</span></td>
    </tr>
    <tr>
        <td>username</td>
        <td><span
            class="badge rounded-pill bg-dark text-light"
        >{{ user['info'].username }}</span></td>
    </tr>
    <tr>
        <td>Can Join Groups?</td>
        <td><span 
            class="badge rounded-pill bg-{%
            if user['info'].can_join_groups
                %}success{%
            else
                %}danger{%
            endif %} text-light"
        >{{ user['info'].can_join_groups }}</span></td>
    </tr>
    <tr>
        <td>Can Read Group Messages?</td>
        <td><span 
            class="badge rounded-pill bg-{%
            if user['info'].can_read_all_group_messages
                %}success{%
            else
                %}danger{%
            endif %} text-light"
        >{{ user['info'].can_read_all_group_messages }}</span></td>
    </tr>
    <tr>
        <td>Supports Inline Queries?</td>
        <td><span 
            class="badge rounded-pill bg-{%
            if user['info'].supports_inline_queries
                %}success{%
            else
                %}danger{%
            endif %} text-light"
        >{{ user['info'].supports_inline_queries }}</span></td>
    </tr>
    <tr>
        <td>Is Running Long Polling?</td>
        <td>
            <span 
                class="badge rounded-pill bg-{%
                if user['status']
                    %}success{%
                else
                    %}danger{%
                endif %} text-light"
            >{{ user['status'] }}</span>
            <form action="" method="post">
                <input
                    id="bot_id_field-{{ users.index(user) }}"
                    type="hidden"
                    name="bot_id_field"
                    value="{{ user['info'].id }}"
                ></input>
                <input
                    class="btn btn-danger rounded-pill"
                    id="submit"
                    name="submit"
                    type="submit"
                    value="toggle"
                ></input>
            </form>
        </td>
    </tr>
</tbody>
</table>
</div> <!-- card-body -->
</div> <!-- card -->
</div> <!-- col -->
{% endfor %}
</div> <!-- row -->
</div> <!-- container -->
<hr>
<p>To change some of the above settings, message <b>@BotFather</b> on 
Telegram.</p>
<p>&nbsp;</p>
{% endblock %}
