## Linux
.*
!.gitignore
*~
*.swp

## Python
*.py[cod]
**__pycache__

## Pyinstaller
build/
dist/
*.spec

## Virtualenv
env/
venv/
virtualenv/
Pipfile.lock

## Geany
*.geany

## Windows
Thumbs.db

## Flask
instance/

## iacecil
*.txt
!requirements.txt
!CHANGES.txt
*.cfg
*.csv
*.db
