[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
aiodns = "*"
aiogram = "*"
aiohttp = {extras = ["speedups"],version = "*"}
#Babel = "*"
brotlipy = {version = "*", sys_platform = "!= 'win32'"}
#cchardet = "*"
#dataset = "*"
#fastapi = {extras = ["all"], version = "*"}
#flair = "*"
#flask = "*"
#flask-sqlalchemy = "*"
flask-wtf = "*"
#flup = "*"
furhat-remote-api = "*"
#gunicorn = "*"
graphviz = "*"
#hypercorn = "*"
matplotlib = "*"
networkx = {extras = ["default"], version = "*"}
nltk = "*"
numpy = "*"
pydantic = "*"
#pyinstaller = "*"
#PyMySQL = "*"
pypng = "*"
pyqrcode = "*"
#python-dotenv = "*"
#python-telegram-bot = "*"
pytz = "*"
quart = "*"
requests = "*"
#starlette-wtf = "*"
#telepot = "*"
#torch = "*"
#torchaudio = "*"
#torchvision = "*"
#totalvoice = "*"
ujson = {version = "*", sys_platform = "!= 'win32'"}
#urllib3 = "*"
uvloop = {version = "*", sys_platform = "!= 'win32'"}
uvicorn = "*"
validators = "*"
youtube-dl = "*"
ZODB = "*"
"zc.zlibstorage" = "*"

[requires]
python_version = "3.9"

[scripts]
iacecil = 'python start.py info quart iacecil'
quart = 'python start.py info quart iacecil 8000 127.0.0.1'
test = 'python start.py debug quart testing'
prod = 'python start.py debug quart production'
dev = 'python start.py debug dev development 8000 127.0.0.1 True'
stage = 'python start.py debug socket cfb,cfb2,iacecil,matebot_telegram,pacume,pave,tropixel 38000 127.0.0.1 0'
furhat = 'python start.py debug furhat testing'
papagaio = 'python start.py debug fpapagaio f239 True'
