[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
#aiodns = "*"
#aiohttp = {extras = ["speedups"],version = "*"}
#Babel = "*"
#brotlipy = {version = "*", sys_platform = "!= 'win32'"}
#cchardet = "*"
#dataset = "*"
#flair = "*"
#flup = "*"
#gunicorn = "*"
#hypercorn = "*"
#pydantic = "*"
#PyMySQL = "*"
#pypng = "*"
#PyQRCode = "*"
#python-dotenv = "*"
#requests = "*"
#telepot = "*"
#totalvoice = "*"
#ujson = {version = "*", sys_platform = "!= 'win32'"}
#urllib3 = "*"
#uvloop = {version = "*", sys_platform = "!= 'win32'"}
aiogram = "*"
fastapi = {extras = ["all"], version = "*"}
flask = "*"
pyinstaller = "*"
pyqrcode = "*"
python-telegram-bot = "*"
quart = "*"
torch = "*"
torchaudio = "*"
torchvision = "*"
validators = "*"
youtube-dl = "*"
#pytz = "*"

[requires]
python_version = "3.9"

[scripts]
iacecil = 'python start.py quart iacecil'
quart = 'python start.py quart iacecil 8000 127.0.0.1 info'
dev = 'python start.py dev'
app = 'python app.py'
