[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
#Babel = "*"
#cchardet = "*"
#dataset = "*"
#fastapi = {extras = ["all"], version = "*"}
#flair = "*"
#flask = "*"
#flup = "*"
#gunicorn = "*"
#hypercorn = "*"
#pyinstaller = "*"
#PyMySQL = "*"
#pypng = "*"
#python-dotenv = "*"
#python-telegram-bot = "*"
#telepot = "*"
#torch = "*"
#torchaudio = "*"
#torchvision = "*"
#totalvoice = "*"
#urllib3 = "*"
aiodns = "*"
aiogram = "*"
aiohttp = {extras = ["speedups"],version = "*"}
brotlipy = {version = "*", sys_platform = "!= 'win32'"}
pydantic = "*"
pyqrcode = "*"
pytz = "*"
quart = "*"
requests = "*"
ujson = {version = "*", sys_platform = "!= 'win32'"}
uvloop = {version = "*", sys_platform = "!= 'win32'"}
validators = "*"
youtube-dl = "*"
flask-wtf = "*"
starlette-wtf = "*"
uvicorn = "*"
ZODB = "*"
zc = {zlibstorage = "*"}

[requires]
python_version = "3.9"

[scripts]
iacecil = 'python start.py quart iacecil'
quart = 'python start.py quart iacecil 8000 127.0.0.1 info'
test = 'python start.py quart testing'
dev = 'python start.py dev'
socket = 'python start.py socket tiozao_bot,tiodochurrasbot,tropixelbot,mate_obot,cryptoforexbot,s28paybot,iacecil 38000 127.0.0.1 debug 0'
