{% extends "admin/default_layout.html" %}
{% block body %}
<h3>List texts from messages</h3>
<p>Select bot and group from lists</p>
<p><div class="alert alert-warning" role="alert">
This is an unoptimized feature which will slow down the thread, use it 
if it's really necessary. If this warning disappears, it's because it 
was fixed.
</div></p>
<hr>
<form action="" method="post">
    {{ form.bot_id_field.label }}<br>
    {% for subfield in form.bot_id_field %}
        <div class="form-check">
        {{ subfield(class="form-check-input") }} {{ subfield.label(class="form-check-label") }}
        </div>
    {% endfor %}
    {% for error in form.bot_id_field.errors %}
        <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
    {% if chats %}
        <p>
        {{ form.chat_id_field.label }}<br>
        {% for subfield in form.chat_id_field %}
            <div class="form-check">
            {{ subfield(class="form-check-input") }} {{ subfield.label(class="form-check-label") }}
            </div>
        {% endfor %}
        {% for error in form.chat_id_field.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        </p>
        <p>{{ form.limit_field.label }}<br>{{ form.limit_field }}</p>
        <p>{{ form.offset_field.label }}<br>{{ form.offset_field }}</p>
    {% endif %}
    <p>{{ form.submit(class="btn btn-warning") }}</p>
</form>
<hr>
{% if messages %}
<p>{{ messages }}</p>
<!--
    <h4>bot {{ form.bot_id_field.data }}</h4>
    <h4>chat {{ form.chat_id_field.data }}</h4>
    <h4>limit {{ form.limit_field.data }}</h4>
    <h4>offset {{ form.offset_field.data }}</h4>
    <h3>Last {{ count['current'] }} messages out of {{ count['total'] }}:</h3>
    <hr>
    <div class="container">
    <table class="table table-striped">
    <tbody>
    {% for message in messages %}
        <tr><td>{{ message }}</td></tr>
    {% endfor %}
    </tbody>
    </table>
    </div> <!-- container -->
-->
{% else %}
    <p>No messages&excl;</p>
{% endif %}
<p>&nbsp;</p>
{% endblock %}
